.well {
  margin: 0;
}

header,
main,
nav,
.caption,
.overlay {
  background-image: url( '//satchel.rei.com/media/img/united-outside-texture.png' );
  background-size: 100vw;
  background-position: 50% 100%;

  &,
  a {
    color: @color-base !important;
  }
}

// Sticky Nav fix for REI.com's .inner-wrap bug
.inner-wrap {
  transform: none;
}

// Pattern library conflict fix
.social .card:hover {
  opacity: 1;
}

main,
nav {
  background-color: @color-text;
}

main .card {
  background-color: transparent;
}

main {
  background-attachment: fixed;
  background-repeat: repeat-y;
}

.card > img {
  width: 100%;
}

.row.row-flex.nowrap {
  flex-wrap: nowrap;
}

.badge {
  white-space: nowrap;
}

.isotope > .item {
  // Ensure isotope does not unnecessarily wrap
  margin: -.001px;
}

.card {
  .overlay,
  .caption {
    //height: 100%;
    width: 100%;
    display: block;
    background-color: rgba( 0, 0, 0, .5 );
    transition: .5s ease;
    transform: translate( 0, 0 );
    z-index: 1;
  }

  .caption {
    &:extend( .well-lg );
    padding-top: 2rem;
    padding-bottom: 1.2rem;
    position: absolute;
    bottom: 0;//-100%;
    left: 0;
    right: 0;
    height: fit-content;

    &-label {
      &:extend( .label-classification );
      margin-bottom: 1rem;
    }

    @media ( max-width: @screen-sm-min + 1px ) {
      &:after {
        &:extend( .icon.icon-rei-expand );
      }
    }
  }

  .overlay {
    .caption {
      background: transparent;
    }
  }

  .expandable {
    overflow: hidden;
    max-height: 0;
    transition: .25s ease all;
    opacity: 0;
  }

  &-sizer,
  &:hover .caption,
  &:focus .caption {
    padding: 8rem 3rem;

    .expandable {
      max-height: 100rem;
    }
  }

  &:hover,
  &:focus {
    .overlay {
      background-color: transparent;
      color: transparent;
      border: none;
      text-shadow: none;

      .caption {
        color: @color-base;
        background: rgba( 0, 0, 0, .5 );
      }
    }

    .caption {
      .expandable {
        transition: 1s ease-in max-height;
        opacity: 1;
      }
    }
  }
}

.card {
  .caption {
    &-label,
    &-title {
      font-size: 4vw;

      @media ( min-width: @screen-sm-min ) {
        font-size: 2.8rem;
      }
    }


    &-description {
      font-size: 2.8vw;

      @media ( min-width: @screen-sm-min ) {
        font-size: 1.8rem;
      }
    }
  }

  .badge {
    @media ( min-width: @screen-sm-min ) {
      font-size: 3.8rem;
    }
  }
}

/* Prevent sub-pixel gaps */
.img-frame {
  padding: 0 !important;
  position: absolute !important;

  img {
    min-height: calc( ~'100% + 2px' )!important;
    min-width: calc( ~'100% + 2px' )!important;
    transform: translate( ~'-50% + 1px', ~'-50% + 1px' )!important;
  }
}

.card .img-frame {
    padding: 2rem 1rem;
    background: transparent;
    text-shadow: 0px 0px 2px #000;
}


/* Pending Cedar update */

.img-frame > img {
    image-rendering: auto!important;
}

// Size.less
.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fill-block {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}


// Cards.less
@card-hover-offset: .3rem;

.card {
    display: inline-flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 .1rem .6rem 0 rgba( 0, 0, 0, .30 );
    flex-grow: 0;
    border-radius: .3rem;
    margin: 1rem;

    @media ( min-width: @screen-md-min ) {
        margin: 1.6rem;
    }

    a& {
        cursor: pointer;
        transition: 0.25s ease;
        &[ href ] {
            backface-visibility: hidden;
            transform: translateY( 0 );
            box-shadow: none;
            &:focus,
            &:hover {
                cursor: pointer;
                z-index: 5;
                box-shadow: 0 @card-hover-offset .3rem -.1rem rgba( 0, 0, 0, 0.35 );
                text-decoration: none;
                transform: translateY( -@card-hover-offset );
            }
        }
    }

    .well {
        position: relative;
        width: fit-content;
        margin: 0;
    }
}


// Grid.less
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-width: 100%;

    & > .row {
        margin: auto;
    }
}

.row {

    // Floated -- Default
    &:not( &-flex ) {
        &:extend( .clearfix all );

        & > [class^=col-],
        & > [class*=col-] {
            float: left;
        }
    }

    // Flex
    &&-flex {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        padding: 0 .6rem;

        @media ( min-width: @screen-sm-min ) {
            padding: 0 1rem;
        }

        @media ( min-width: @screen-md-min ) {
            padding: 0 1.6rem;
        }

        &.fixed {
            align-items: stretch;
        }

        &.tile,
        &.masonry {
          padding: 0;
        }

        &.tile {
            &.masonry {
                min-width: 100%;
                margin: 0 auto;
            }

            & > [class*=col-],
            & > [class^=col-] {
                & > .card {
                    margin: 0;
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    flex-grow: 1;
                }
            }
        }

        &.overflow {
            overflow: auto;
            flex-wrap: nowrap;
            align-items: center;

            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;

            cursor: pointer;

            padding-right: 25%;

            /* Scroll-snapping */
            scroll-snap-type: mandatory;
            scroll-snap-align: left;

            /* Older spec implementation  -- Remove when polyfill updated */
            scroll-snap-destination: 0% 75%;
            scroll-snap-points-x: repeat( 100% );
        }

        & > [class^=col-],
        & > [class*=col-] {
            display: inline-flex;
            flex-flow: column nowrap;
            float: none;
            padding: 0;
        }
    }
}
