@import ( reference ) "variables";

header {
    &:extend( .text-center );
    background-color: @color-base;
    padding: 4rem 2rem;

    .row {
        max-width: 120rem;
    }

    h1,
    h3 {
        color: @color-primary !important;
    }

    h1 {
        &:extend( .heading-announce );
        font-weight: 700;

        @media screen and ( min-width: @screen-md-min ) {
            letter-spacing: -.25rem !important;
        }
    }

    h3 {
        &:extend( .text-uppercase, .text-justify, .text-last-center );
        line-height: 1.75;
    }
}
