@import ( reference ) "../../node_modules/rei-cedar/src/less/main.less";
@import ( reference ) "variables";

nav {
    padding: 2rem 0;
    letter-spacing: .1rem;

    label,
    button {
        vertical-align: middle;
        margin: 0 !important;
        line-height: .75 !important;
        font-size: 2.4rem !important;
        padding: 0 2.4rem !important;
    }

    label {
        &:extend( .h3 );
        font-family: "Interstate Bold Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    button {
        background: transparent;
        box-sizing: content-box;
        transition: .25s ease all;

        &:not( :first-of-type ) {
            border-left: .15rem solid #fff;
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: @color-secondary !important;
        }
    }
}
