@import ( reference ) "variables";

.filters {
    &:extend( .overlay-dark-2 );
    &:extend( .col-xs-12 );
    &:extend( .row-flex );
    &:extend( .text-uppercase );
    letter-spacing: .1rem;
    padding: 2rem 0;
    position: relative;
    justify-content: center;
    z-index: 999;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    label,
    .filter-item {
        &:extend( .overlay-dark-2 );
        &:extend( .h3 );
        &:extend( .btn-xs );
        vertical-align: middle;
        margin: 0 !important;
        line-height: .75 !important;
        font-size: 2.4rem !important;
        background: transparent;
        box-sizing: content-box;
        transition: .25s ease all;

        @media screen and ( min-width: @screen-md-min ) {
            padding: 0 2.4rem !important;
        }
    }

    .filter-item {
        @media screen and ( min-width: @screen-md-min ) {
            &:not( :first-of-type ) {
                border-left: .15rem solid @color-base;
            }
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: @color-secondary !important;
        }
    }
}
