@import ( reference ) "../../node_modules/rei-cedar/src/less/main.less";
@import ( reference ) "variables";

nav {
    &:extend( .overlay-dark-2 );
    position: relative;
    z-index: 999;

    &.fixed {
        position: fixed;
        top: 0;
    }

    fieldset {
        padding: 2rem 0;
        letter-spacing: .1rem;
    }

    label,
    button {
        &:extend( .h3 );
        &:extend( .btn-xs );
        vertical-align: middle;
        margin: 0 !important;
        line-height: .75 !important;
        font-size: 2.4rem !important;
        padding: 0 2.4rem !important;
    }

    button {
        background: transparent;
        box-sizing: content-box;
        transition: .25s ease all;

        &:not( :first-of-type ) {
            border-left: .15rem solid @color-base;
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: @color-secondary !important;
        }
    }
}
