@color-primary:   hsl( 348, 100%, 47% );
@color-secondary: hsl( 212, 53%, 48% );
@color-tertiary:  hsl( 84, 51%, 41% );
@color-base:      hsl(45, 25%, 94%);
@color-text:      hsl( 60, 4%, 10% );

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
